@model IQueryable<ServiceItem>
@{ 
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    @if(Model.Any())
    {
        <div class="col-lg-12">

        <!--POST INFO-->
            @foreach(ServiceItem entity in Model)
            {
            <div class="blog-post">
                <div class="blog-thumb">
                    <img src="~/images/@entity.TitleImagePath" alt="">
                </div> 
                <div class="down-content">
                    @*<span>
                        @entity.Subtitle
                    </span>*@
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                    <h4>
                        @entity.Title
                    </h4>
                    </a>
                    <ul class="post-info">  
                        @*<li><a href="#">Admin</a></li>*@
                        @*<li><a href="#">Date</a></li>*@
                    </ul>
                    <p>
                        @entity.Subtitle
                    </p>
                    <div class="post-options">
                        <div class="row">
                            <div class="col-6">
                                <ul class="post-tags">
                                    <li><i class="fa fa-tags"></i></li>
                                    <li>@entity.MetaKeywords </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    }


</div>