@using CompanySite.Service
<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            <div class="item">
                <img src="http://placehold.it/400x350" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>@Config.CompanyName</span>
                        </div>
                        <a href="post-details.html"><h4>ОБОРУДОВАНИЕ
                            ДЛЯ ТОРГОВЛИ</h4></a>
                        <ul class="post-info">
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/400x350" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>@Config.CompanyName</span>
                        </div>
                        <a href="post-details.html"><h4>ИНТЕРНЕТ МАРКЕТИНГ
                        </h4></a>
                        <ul class="post-info">
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/400x350" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>@Config.CompanyName</span>
                        </div>
                        <a href="post-details.html"><h4>ЭКСПРЕСС-АУДИТ ВАШЕЙ БУХГАЛТЕРИИ
                        </h4></a>
                        <ul class="post-info">
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/400x350" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>@Config.CompanyName</span>
                        </div>
                        <a href="post-details.html"><h4>РОЗНИЦА</h4></a>
                        <ul class="post-info">
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/400x350" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>@Config.CompanyName</span>
                        </div>
                        <a href="post-details.html"><h4>ИНТЕРНЕТ МАРКЕТИНГ</h4></a>
                        <ul class="post-info">
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://placehold.it/400x350" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>@Config.CompanyName</span>
                        </div>
                        <a href="post-details.html"><h4>ИЗГОТОВЛЕНИЕ
                            ЭЦП
                        </h4></a>
                        <ul class="post-info">
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>